.error-page {
  background-image: url("/assets/img/error-page-bg.png");
  background-size: cover;
  height: 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 120px;

  &__logo-wrapper {
    padding-bottom: 24px;
  }

  &__title-wrapper {
    padding-bottom: 12px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  &__back-home-btn {
    background: #ee1b24;
    border-radius: 4px;
    font-size: 12px;
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
