<div class="service-provided">
  <div class="service-provided__title">
    <label class="service-provided__main-title">How it works</label>
    <label class="service-provided__sub-title">This is how our products works</label>
  </div>

  <div class="service-provided__items-wrapper">
    <div class="service-provided__item">
      <div class="service-provided__item-icon-wrapper">
        <img src="assets/icons/ucars-icons/find-car.svg" class="service-provided__item-icon" />
      </div>
      <label class="service-provided__item-label">Find Car</label>
      <p class="service-provided__item-description">
        Our cars are located at prime areas where by there won't be problem with transportation.
      </p>
    </div>
    <div class="service-provided__item">
      <div class="service-provided__item-icon-wrapper">
        <img src="assets/icons/ucars-icons/make-payments.svg" class="service-provided__item-icon" />
      </div>
      <label class="service-provided__item-label">Make payments</label>
      <p class="service-provided__item-description">
        Our estates comes with good network,portable water , 24hrs light and round the clock security.
      </p>
    </div>
    <div class="service-provided__item">
      <div class="service-provided__item-icon-wrapper">
        <img src="assets/icons/ucars-icons/make-it-official.svg" class="service-provided__item-icon" />
      </div>
      <label class="service-provided__item-label">Make it Official</label>
      <p class="service-provided__item-description">
        We have been in business for over 32 years,for client outside the country you can trust us to deliver well.
      </p>
    </div>
  </div>
</div>
