<section>
  <header-contact-info-comp></header-contact-info-comp>
</section>
<section>
  <navbar-comp></navbar-comp>
  <get-started-banner-comp></get-started-banner-comp>
</section>
<section>
  <car-filter-comp></car-filter-comp>
</section>
<section>
  <car-products-comp></car-products-comp>
</section>
<section>
  <service-provided-comp></service-provided-comp>
</section>
<section>
  <featured-vehicles-comp></featured-vehicles-comp>
</section>
<section>
  <questions-banner-comp></questions-banner-comp>
</section>
<section>
  <business-intro-comp></business-intro-comp>
</section>
<section>
  <footer-comp></footer-comp>
</section>
