<div class="header-contact-info">
  <div class="row">
    <div class="col header-contact-info__location-email-col">
      <div class="header-contact-info__location-wrapper">
        <img src="assets/icons/font-awesome-icons/location-dot-solid.svg" class="header-contact-info__location-icon" />
        <span class="header-contact-info__location-value">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
      </div>

      <div class="header-contact-info__email-wrapper">
        <img src="assets/icons/font-awesome-icons/envelope-solid.svg" class="header-contact-info__location-icon" />
        <span class="header-contact-info__location-value">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
      </div>
    </div>

    <div class="col header-contact-info__phone-col">
      <div class="header-contact-info__phone-wrapper">
        <img src="assets/icons/font-awesome-icons/phone-solid.svg" class="header-contact-info__location-icon" />
        <span class="header-contact-info__location-value">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
      </div>
    </div>
  </div>
</div>
