/* for mobile device */
.header-contact-info {
  width: 100%;
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;

  &__location-email-col {
    display: flex;
    justify-content: flex-start;
  }

  // location
  &__location-wrapper {
    padding-left: 64px;
    padding-right: 24px;
    display: flex;
    align-items: center;
  }

  &__location-icon {
    color: #232323;
    width: 16px;
    vertical-align: top;
  }

  &__location-value {
    color: #232323;
    vertical-align: middle;
    margin-left: 12px;
  }

  // email
  &__email-wrapper {
    padding-left: 24px;
    display: flex;
    align-items: center;
    border-left: 1px solid #e3e3e3;
  }

  &__email-icon {
    color: #232323;
    width: 16px;
    vertical-align: top;
  }

  &__email-value {
    color: #232323;
    vertical-align: middle;
    margin-left: 12px;
  }

  // phone
  &__phone-col {
    display: flex;
    justify-content: flex-end;
  }

  &__phone-wrapper {
    padding-right: 60px;
    display: flex;
    align-items: center;
  }

  &__phone-icon {
    color: #232323;
    width: 16px;
    vertical-align: top;
  }

  &__phone-value {
    color: #232323;
    vertical-align: middle;
    margin-left: 12px;
    margin-bottom: 0;
  }
}
