.ads-card-wrapper {
  padding: 8px;
  background-color: #fff;
}

.ads-card {
  border-radius: 8px;
  width: 280px;
  height: 320px;
  background-image: url("/assets/img/ads/ads-card.png");
  background-size: cover;
}
