<!-- For mobile device -->
<div *ngIf="isMobile" class="car-filter-mobile">
  <form [formGroup]="carFilterForm">
    <div class="car-filter-mobile__wrapper">
      <!-- State filter -->
      <div class="state-filter-mobile">
        <label class="state-filter-mobile__title">New/Used</label>
        <!-- State filter label -->
        <div class="row" (click)="onShowStateFilter()">
          <div class="col-10">
            <label class="state-filter-mobile__selected-value"
              >{{stateSelected.label}}</label
            >
          </div>
          <div class="col-2 state-filter-mobile__icon-col">
            <img
              class="state-filter-mobile__icon"
              src="assets/icons/ucars-icons/chevron-down.svg"
            />
          </div>
        </div>
        <!-- State filter popup-->
        <div
          class="state-filter-mobile__options-wrapper"
          [ngClass]="{'state-filter-mobile__options-wrapper--show': isShowStateFilter, 'state-filter-mobile__options-wrapper--hide': !isShowStateFilter}"
        >
          <div class="form-check" *ngFor="let key of carStateKeys">
            <input
              class="form-check-input"
              type="radio"
              [value]="key"
              [id]="key"
              formControlName="carState"
              (change)="onSelectState()"
            />
            <label class="form-check-label" [for]="key">
              {{carStateOptions[key].label}}
            </label>
          </div>
        </div>
      </div>

      <!-- Price filter -->
      <div class="price-filter-mobile">
        <label class="price-filter-mobile__title">Price Range</label>
        <!-- Price filter label -->
        <div class="row" (click)="onShowPriceFilter()">
          <div class="col-10">
            <label class="price-filter-mobile__selected-range-label"
              >{{priceRangeLabel}}</label
            >
          </div>
          <div class="col-2 price-filter-mobile__icon-col">
            <img
              class="price-filter-mobile__icon"
              src="assets/icons/ucars-icons/chevron-down.svg"
            />
          </div>
        </div>
        <!-- Price filter -->
        <div
          class="price-filter-mobile__range-select-wrapper"
          [ngClass]="{'price-filter-mobile__range-select-wrapper--show': isShowPriceFilter, 'price-filter-mobile__range-select-wrapper--hide': !isShowPriceFilter}"
        >
          <!-- Price filter range label -->
          <div class="row p-2 m-0">
            <div
              class="col-5 price-filter-mobile__price-limit"
              (click)="onShowMinPriceSelect()"
            >
              <label for="minPrice" class="price-filter-mobile__price-label"
                >Min</label
              >
              <label for="minPrice" class="price-filter-mobile__price-value"
                >{{minPriceSelected.label}}</label
              >
            </div>

            <div class="col-2 p-0 price-filter-mobile__dash">
              <label class="price-filter-mobile__dash-text">-</label>
            </div>

            <div
              class="col-5 price-filter-mobile__price-limit"
              (click)="onShowMaxPriceSelect()"
            >
              <label for="maxPrice" class="price-filter-mobile__price-label"
                >Max</label
              >
              <label for="minPrice" class="price-filter-mobile__price-value"
                >{{maxPriceSelected.label}}</label
              >
            </div>
          </div>

          <!-- Price filter range value -->
          <div class="row p-0">
            <div class="col-6 p-0">
              <!-- Price filter min select -->
              <div
                class="price-filter-mobile__price-select-wrapper"
                [ngClass]="{'price-filter-mobile__price-select-wrapper--show': isShowMinPriceSelect, 'price-filter-mobile__price-select-wrapper--hide': !isShowMinPriceSelect}"
              >
                <div class="form-check" *ngFor="let key of carPriceKeys">
                  <input
                    class="form-check-input"
                    type="radio"
                    [value]="key"
                    [id]="key"
                    formControlName="minPrice"
                    (change)="onChangeMinPrice()"
                  />
                  <label class="form-check-label" [for]="key">
                    {{carPriceOptions[key].label}}
                  </label>
                </div>
              </div>
            </div>

            <div class="col-6 p-0">
              <!-- Price filter max select -->
              <div
                class="price-filter-mobile__price-select-wrapper"
                [ngClass]="{'price-filter-mobile__price-select-wrapper--show': isShowMaxPriceSelect, 'price-filter-mobile__price-select-wrapper--hide': !isShowMaxPriceSelect}"
              >
                <div class="form-check" *ngFor="let key of carPriceKeys">
                  <input
                    class="form-check-input"
                    type="radio"
                    [value]="key"
                    [id]="key"
                    formControlName="maxPrice"
                    (change)="onChangeMaxPrice()"
                  />
                  <label class="form-check-label" [for]="key">
                    {{carPriceOptions[key].label}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- Price filter buttons -->
          <div class="price-filter-mobile__buttons-wrapper">
            <div class="row m-0 price-filter-mobile__buttons">
              <div class="col-6 p-0 price-filter-mobile__clear-wrapper">
                <button
                  class="price-filter-mobile__clear-btn"
                  (click)="onClearPriceRange()"
                >
                  Clear
                </button>
              </div>

              <div class="col-6 p-0 price-filter-mobile__save-wrapper">
                <button
                  class="price-filter-mobile__save-btn"
                  (click)="onSavePriceRange()"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Vehicle type filter -->
      <div class="vehicle-type-filter-mobile">
        <label class="vehicle-type-filter-mobile__title">Vehicle Type</label>
        <!-- Vehicle type filter label -->
        <div class="row" (click)="onShowVehicleTypeFilter()">
          <div class="col-10">
            <label class="vehicle-type-filter-mobile__selected-value"
              >{{vehicleTypesSelected}}</label
            >
          </div>
          <div class="col-2 vehicle-type-filter-mobile__icon-col">
            <img
              class="vehicle-type-filter-mobile__icon"
              src="assets/icons/ucars-icons/chevron-down.svg"
            />
          </div>
        </div>
        <!-- Vehicle type filter popup -->
        <div
          class="vehicle-type-filter-mobile__popup-wrapper"
          [ngClass]="{'vehicle-type-filter-mobile__popup-wrapper--show': isShowVehicleTypeFilter, 'vehicle-type-filter-mobile__popup-wrapper--hide': !isShowVehicleTypeFilter}"
        >
          <div class="vehicle-type-filter-mobile__options-wrapper">
            <div
              *ngFor="let form of vehicleTypeList.controls; let i = index"
              class="vehicle-type-filter-mobile__vehicle-type-form-wrapper"
            >
              <form
                role="form"
                novalidate
                [formGroup]="getVehicleTypeForm(i)"
                class="vehicle-type-filter-mobile__vehicle-type-form"
              >
                <input
                  class="form-check-input vehicle-type-filter-mobile__vehicle-type-input"
                  type="checkbox"
                  id="type"
                  formControlName="isSelected"
                />
                <label
                  class="vehicle-type-filter-mobile__vehicle-type-label"
                  for="type"
                >
                  {{getVehicleTypeFormLabel(i)}}
                </label>
              </form>
            </div>
          </div>

          <!-- Vehicle type filter buttons -->
          <div class="vehicle-type-filter-mobile__buttons-wrapper">
            <div class="row m-0 vehicle-type-filter-mobile__buttons">
              <div class="col-6 p-0 vehicle-type-filter-mobile__clear-wrapper">
                <button
                  class="vehicle-type-filter-mobile__clear-btn"
                  (click)="onClearVehicleTypesSelected()"
                >
                  Clear
                </button>
              </div>

              <div class="col-6 p-0 vehicle-type-filter-mobile__save-wrapper">
                <button
                  class="vehicle-type-filter-mobile__save-btn"
                  (click)="onSaveVehicleTypesSelected()"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="car-filter-mobile__search-btn" (click)="carFilter()">
        Search
      </button>
    </div>
  </form>
</div>

<!-- For not mobile device -->
<div *ngIf="!isMobile" class="car-filter">
  <form [formGroup]="carFilterForm">
    <div class="car-filter__wrapper">
      <!-- State filter -->
      <div class="state-filter">
        <label class="state-filter__title">New/Used</label>
        <!-- State filter label -->
        <div class="row" (click)="onShowStateFilter()">
          <div class="col-10">
            <label class="state-filter__selected-value"
              >{{stateSelected.label}}</label
            >
          </div>
          <div class="col-2 state-filter__icon-col">
            <img
              class="state-filter__icon"
              src="assets/icons/ucars-icons/chevron-down.svg"
            />
          </div>
        </div>
        <!-- State filter popup-->
        <div
          class="state-filter__options-wrapper"
          [ngClass]="{'state-filter__options-wrapper--show': isShowStateFilter, 'state-filter__options-wrapper--hide': !isShowStateFilter}"
        >
          <div class="form-check" *ngFor="let key of carStateKeys">
            <input
              class="form-check-input"
              type="radio"
              [value]="key"
              [id]="key"
              formControlName="carState"
              (change)="onSelectState()"
            />
            <label class="form-check-label" [for]="key">
              {{carStateOptions[key].label}}
            </label>
          </div>
        </div>
      </div>

      <!-- Price filter -->
      <div class="price-filter">
        <label class="price-filter__title">Price Range</label>
        <!-- Price filter label -->
        <div class="row" (click)="onShowPriceFilter()">
          <div class="col-10">
            <label class="price-filter__selected-range-label"
              >{{priceRangeLabel}}</label
            >
          </div>
          <div class="col-2 price-filter__icon-col">
            <img
              class="price-filter__icon"
              src="assets/icons/ucars-icons/chevron-down.svg"
            />
          </div>
        </div>
        <!-- Price filter -->
        <div
          class="price-filter__range-select-wrapper"
          [ngClass]="{'price-filter__range-select-wrapper--show': isShowPriceFilter, 'price-filter__range-select-wrapper--hide': !isShowPriceFilter}"
        >
          <!-- Price filter range label -->
          <div class="row p-2 m-0">
            <div
              class="col-5 price-filter__price-limit"
              (click)="onShowMinPriceSelect()"
            >
              <label for="minPrice" class="price-filter__price-label"
                >Min</label
              >
              <label for="minPrice" class="price-filter__price-value"
                >{{minPriceSelected.label}}</label
              >
            </div>

            <div class="col-2 p-0 price-filter__dash">
              <label class="price-filter__dash-text">-</label>
            </div>

            <div
              class="col-5 price-filter__price-limit"
              (click)="onShowMaxPriceSelect()"
            >
              <label for="maxPrice" class="price-filter__price-label"
                >Max</label
              >
              <label for="minPrice" class="price-filter__price-value"
                >{{maxPriceSelected.label}}</label
              >
            </div>
          </div>

          <!-- Price filter range value -->
          <div class="row p-0">
            <div class="col-6 p-0">
              <!-- Price filter min select -->
              <div
                class="price-filter__price-select-wrapper"
                [ngClass]="{'price-filter__price-select-wrapper--show': isShowMinPriceSelect, 'price-filter__price-select-wrapper--hide': !isShowMinPriceSelect}"
              >
                <div class="form-check" *ngFor="let key of carPriceKeys">
                  <input
                    class="form-check-input"
                    type="radio"
                    [value]="key"
                    [id]="key"
                    formControlName="minPrice"
                    (change)="onChangeMinPrice()"
                  />
                  <label class="form-check-label" [for]="key">
                    {{carPriceOptions[key].label}}
                  </label>
                </div>
              </div>
            </div>

            <div class="col-6 p-0">
              <!-- Price filter max select -->
              <div
                class="price-filter__price-select-wrapper"
                [ngClass]="{'price-filter__price-select-wrapper--show': isShowMaxPriceSelect, 'price-filter__price-select-wrapper--hide': !isShowMaxPriceSelect}"
              >
                <div class="form-check" *ngFor="let key of carPriceKeys">
                  <input
                    class="form-check-input"
                    type="radio"
                    [value]="key"
                    [id]="key"
                    formControlName="maxPrice"
                    (change)="onChangeMaxPrice()"
                  />
                  <label class="form-check-label" [for]="key">
                    {{carPriceOptions[key].label}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- Price filter buttons -->
          <div class="price-filter__buttons-wrapper">
            <div class="row m-0 price-filter__buttons">
              <div class="col-6 p-0 price-filter__clear-wrapper">
                <button
                  class="price-filter__clear-btn"
                  (click)="onClearPriceRange()"
                >
                  Clear
                </button>
              </div>

              <div class="col-6 p-0 price-filter__save-wrapper">
                <button
                  class="price-filter__save-btn"
                  (click)="onSavePriceRange()"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Vehicle type filter -->
      <div class="vehicle-type-filter">
        <label class="vehicle-type-filter__title">Vehicle Type</label>
        <!-- Vehicle type filter label -->
        <div class="row" (click)="onShowVehicleTypeFilter()">
          <div class="col-10">
            <label class="vehicle-type-filter__selected-value"
              >{{vehicleTypesSelected}}</label
            >
          </div>
          <div class="col-2 vehicle-type-filter__icon-col">
            <img
              class="vehicle-type-filter__icon"
              src="assets/icons/ucars-icons/chevron-down.svg"
            />
          </div>
        </div>
        <!-- Vehicle type filter popup -->
        <div
          class="vehicle-type-filter__popup-wrapper"
          [ngClass]="{'vehicle-type-filter__popup-wrapper--show': isShowVehicleTypeFilter, 'vehicle-type-filter__popup-wrapper--hide': !isShowVehicleTypeFilter}"
        >
          <div class="vehicle-type-filter__options-wrapper">
            <div
              *ngFor="let form of vehicleTypeList.controls; let i = index"
              class="vehicle-type-filter__vehicle-type-form-wrapper"
            >
              <form
                role="form"
                novalidate
                [formGroup]="getVehicleTypeForm(i)"
                class="vehicle-type-filter__vehicle-type-form"
              >
                <input
                  class="form-check-input vehicle-type-filter__vehicle-type-input"
                  type="checkbox"
                  id="type"
                  formControlName="isSelected"
                />
                <label
                  class="vehicle-type-filter__vehicle-type-label"
                  for="type"
                >
                  {{getVehicleTypeFormLabel(i)}}
                </label>
              </form>
            </div>
          </div>

          <!-- Vehicle type filter buttons -->
          <div class="vehicle-type-filter__buttons-wrapper">
            <div class="row m-0 vehicle-type-filter__buttons">
              <div class="col-6 p-0 vehicle-type-filter__clear-wrapper">
                <button
                  class="vehicle-type-filter__clear-btn"
                  (click)="onClearVehicleTypesSelected()"
                >
                  Clear
                </button>
              </div>

              <div class="col-6 p-0 vehicle-type-filter__save-wrapper">
                <button
                  class="vehicle-type-filter__save-btn"
                  (click)="onSaveVehicleTypesSelected()"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="car-filter__search-btn-wrapper">
        <button class="car-filter__search-btn" (click)="carFilter()">
          Search
        </button>
      </div>
    </div>
  </form>
</div>
